In [1]:
import seaborn as sns
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Crime_Data_from_2020_to_Present.csv")

In [4]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829773,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
829774,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
829775,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
829776,230115220,07/02/2023 12:00:00 AM,07/01/2023 12:00:00 AM,1,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
829777,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829778 entries, 0 to 829777
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           829778 non-null  int64
 1   Date Rptd       829778 non-null  object
 2   DATE OCC        829778 non-null  object
 3   TIME OCC        829778 non-null  int64
 4   AREA            829778 non-null  int64
 5   AREA NAME       829778 non-null  object
 6   Rpt Dist No     829778 non-null  int64
 7   Part 1-2        829778 non-null  int64
 8   Crm Cd          829778 non-null  int64
 9   Crm Cd Desc     829778 non-null  object
 10  Mocodes         714922 non-null  object
 11  Vict Age        829778 non-null  int64
 12  Vict Sex        720479 non-null  object
 13  Vict Descent    720471 non-null  object
 14  Premis Cd       829768 non-null  float64
 15  Premis Desc     829286 non-null  object
 16  Weapon Used Cd  289319 non-null  float64
 17  Weapon Desc     289319 non-null  object
 18  Status          829778 non-null  object
 19  Status Desc     829778 non-null  object
 20  Crm Cd 1        829768 non-null  float64
 21  Crm Cd 2        61028 non-null   float64
 22  Crm Cd 3        2058 non-null    float64
 23  Crm Cd 4        61 non-null      float64
 24  LOCATION        829778 non-null  object
 25  Cross Street    132508 non-null  object
 26  LAT             829778 non-null  float64
 27  LON             829778 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 177.3+ MB

To find possible averages in the data, you can use the pandas library in Python, assuming you've already loaded the data into a DataFrame named df.

Average of a numerical column:Eg Average time of occurrence

In [5]:
#1. Average time of occurrence
average_time_occ = df['TIME OCC'].mean()
print("Average time of occurrence:", average_time_occ)

Average time of occurrence: 1335.8753606386285

Average of a group using groupby (e.g., average crime code occurrences per area):

In [9]:
average_crime_per_area = df.groupby('AREA NAME')['Crm Cd'].mean()
print("Average crime code occurrences per area:")
print(average_crime_per_area)

Average crime code occurrences per area:
AREA NAME
77th Street    495.064990
Central        485.666148
Devonshire     494.885955
Foothill       515.488101
Harbor         523.497391
Hollenbeck     511.180446
Hollywood      502.476262
Mission        515.591640
N Hollywood    500.247631
Newton         494.254624
Northeast      503.441317
Olympic        503.283524
Pacific        490.557141
Rampart        499.852347
Southeast      498.126573
Southwest      510.424184
Topanga        497.123301
Van Nuys       501.938117
West LA        494.768980
West Valley    503.059420
Wilshire       496.576142
Name: Crm Cd, dtype: float64

The essence of finding the average crime code occurrences per area is to understand the typical frequency of different types of crimes across various geographic regions.

Average of a specific crime code occurrences:

In [15]:
average_specific_crime = df[df['Crm Cd'] == 624]['Crm Cd'].count() / df['Crm Cd'].count()
print("Percentage of occurrences for a specific crime (e.g., Crime Code 624):", average_specific_crime)

Percentage of occurrences for a specific crime (e.g., Crime Code 624): 0.07971891276943954

The essence of finding the percentage of occurrences for a specific crime (e.g., Crime Code 624) is to understand the proportion of incidents attributed to that particular crime within the dataset.


In data analysis, "spread" refers to the extent of variability or dispersion in a dataset. It provides information about how data points are distributed across the range of values in a particular column or feature. Measures of spread, such as range, standard deviation, interquartile range (IQR), and variance, help to quantify the degree of dispersion within the data and provide insights into the distribution's shape and characteristics.

To find possible spreads in the data, you can use various statistical measures provided by the pandas library in Python.

In [16]:
data_range = df['TIME OCC'].max() - df['TIME OCC'].min()
print("Range of time of occurrence:", data_range)

Range of time of occurrence: 2358

In [17]:
std_deviation = df['LAT'].std()
print("Standard deviation of latitude:", std_deviation)

Standard deviation of latitude: 1.7804487683915975

In [18]:
variance = df['Crm Cd'].var()
print("Variance of crime code:", variance)

Variance of crime code: 43177.96753902757

In [19]:
Q1 = df['LON'].quantile(0.25)
Q3 = df['LON'].quantile(0.75)
IQR = Q3 - Q1
print("Interquartile range of longitude:", IQR)

Interquartile range of longitude: 0.15569999999999595

To find possible correlations in the data, you can use the .corr() method in pandas, which calculates the correlation coefficients between pairs of columns in a DataFrame. Here's how you can do it:

In [23]:
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

In [25]:
correlation_matrix = df.corr(numeric_only=True)
print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
                   DR_NO  TIME OCC      AREA  AREA NAME  Rpt Dist No  \
DR_NO           1.000000 -0.016933  0.044193   0.032156     0.044504
TIME OCC       -0.016933  1.000000  0.000391  -0.008020     0.000490
AREA            0.044193  0.000391  1.000000   0.758628     0.999047
AREA NAME       0.032156 -0.008020  0.758628   1.000000     0.756498
Rpt Dist No     0.044504  0.000490  0.999047   0.756498     1.000000
Part 1-2        0.001524 -0.053439  0.010489  -0.022237     0.010364
Crm Cd         -0.025888  0.016755  0.000326  -0.020904     0.000227
Vict Age       -0.011879 -0.034779  0.016225  -0.022800     0.016193
Premis Cd       0.041982 -0.063972  0.002234   0.002873     0.002181
Weapon Used Cd  0.007609 -0.004763 -0.018368   0.041276    -0.018044
Crm Cd 1       -0.025852  0.016770  0.000119  -0.020444     0.000020
Crm Cd 2        0.026685  0.005190 -0.036229   0.142400    -0.036618
Crm Cd 3        0.026763 -0.000238  0.029318  -0.057604     0.028842
Crm Cd 4        0.141289 -0.021837  0.158521        NaN     0.159564
LAT             0.042205  0.002788  0.022581   0.027343     0.022346
LON            -0.041284 -0.002598 -0.009399   0.002951    -0.009323

                Part 1-2    Crm Cd  Vict Age  Premis Cd  Weapon Used Cd  \
DR_NO           0.001524 -0.025888 -0.011879   0.041982        0.007609
TIME OCC       -0.053439  0.016755 -0.034779  -0.063972       -0.004763
AREA            0.010489  0.000326  0.016225   0.002234       -0.018368
AREA NAME      -0.022237 -0.020904 -0.022800   0.002873        0.041276
Rpt Dist No     0.010364  0.000227  0.016193   0.002181       -0.018044
Part 1-2        1.000000  0.700326  0.198855   0.268953        0.434969
Crm Cd          0.700326  1.000000 -0.010488   0.104095        0.371972
Vict Age        0.198855 -0.010488  1.000000   0.192335        0.081613
Premis Cd       0.268953  0.104095  0.192335   1.000000        0.208342
Weapon Used Cd  0.434969  0.371972  0.081613   0.208342        1.000000
Crm Cd 1        0.700840  0.999286 -0.010394   0.104022        0.372841
Crm Cd 2        0.076315  0.001333 -0.021825  -0.055557       -0.146064
Crm Cd 3       -0.000644  0.115547 -0.006801  -0.030002       -0.071989
Crm Cd 4        0.109713  0.042493 -0.012331   0.014178        0.038598
LAT            -0.029592 -0.042012  0.000809  -0.006861       -0.010256
LON             0.030069  0.042146  0.000533   0.007965        0.012760

                Crm Cd 1  Crm Cd 2  Crm Cd 3  Crm Cd 4       LAT       LON
DR_NO          -0.025852  0.026685  0.026763  0.141289  0.042205 -0.041284
TIME OCC        0.016770  0.005190 -0.000238 -0.021837  0.002788 -0.002598
AREA            0.000119 -0.036229  0.029318  0.158521  0.022581 -0.009399
AREA NAME      -0.020444  0.142400 -0.057604       NaN  0.027343  0.002951
Rpt Dist No     0.000020 -0.036618  0.028842  0.159564  0.022346 -0.009323
Part 1-2        0.700840  0.076315 -0.000644  0.109713 -0.029592  0.030069
Crm Cd          0.999286  0.001333  0.115547  0.042493 -0.042012  0.042146
Vict Age       -0.010394 -0.021825 -0.006801 -0.012331  0.000809  0.000533
Premis Cd       0.104022 -0.055557 -0.030002  0.014178 -0.006861  0.007965
Weapon Used Cd  0.372841 -0.146064 -0.071989  0.038598 -0.010256  0.012760
Crm Cd 1        1.000000  0.022828  0.162518 -0.030456 -0.042081  0.042209
Crm Cd 2        0.022828  1.000000  0.293414  0.019224 -0.016573  0.017358
Crm Cd 3        0.162518  0.293414  1.000000  0.164209  0.017313 -0.025153
Crm Cd 4       -0.030456  0.019224  0.164209  1.000000  0.093724 -0.176995
LAT            -0.042081 -0.016573  0.017313  0.093724  1.000000 -0.998520
LON             0.042209  0.017358 -0.025153 -0.176995 -0.998520  1.000000

In [ ]:

# Plot histogram
plt.figure(figsize=(8, 6))
sns.histplot(df['numerical_column'], bins=20, kde=True, color='skyblue')
plt.title('Histogram of Numerical Data')
plt.xlabel('Numerical Values')
plt.ylabel('Frequency')
plt.show()

: